{%extends 'base.html'%}
{%load static%}
{%block body_content%}

  <div class="feeds">
    <!-- -------------------------- Feed 1-------------------------- -->

    {% if request.user == object.post_author %}
    <a href="{%url 'post-update' object.id %}" class="btn btn-outline-primary">Update Post</a>
    <a href="{%url 'post-delete' object.id %}" class="btn btn-outline-danger">Delete Post</a>
    {% endif %}

    <div class="feed" style="background-color: rgb(23, 2, 48); ">
        <div class="head"> 
            <div class="user">
              <a href="{%url 'page-profile' object.post_page.id object.post_page.page_title%}">
                <div class="profile-photo">
                 
                    <img src="/media/{{object.post_page.page_profile}}">
                </div>  <h3>{{ object.post_page }}</h3> 
                <div class="ingo" style="float: right;">
                    <small >{{ object.created|timesince }} ago</small></a>
                </div>
            </div>
            <span class="edit">
               <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        <a><a href="{% url 'post-detail' object.id %}" style="color:aliceblue;"></a>{{ object.title }}</a></h2>
        {% if object.img %}
        <div class="photo">
            <img src="/media/{{object.img}}">
        </div>
        {% endif %}

        <div class="action-buttons">
            <div class="interaction-buttons">
                <span><i class="uil uil-heart"></i></span>
                <span><i class="uil uil-comment-dots"></i></span>
                <span><i class="uil uil-share-alt"></i></span>
            </div>
            <div class="caption">
              <p><a href="{%url 'post-detail' object.id%}" style="color:aliceblue;">{{ object.content }}</a></p>
          </div>
            <div class="bookmark">
              {% if user.is_authenticated %}
              {% if object.pk in save_post_list %}
              <a href="{% url 'unsave' object.id %}"><img src="{%static 'logo/unbookmark.png'%}" alt="" style="height: 20px; width: 20px;"></a>
              {% else %}
              <a href="{% url 'save' object.id %}"><img src="{%static 'logo/bookmark.png'%}" alt="" style="height: 20px; width: 20px;"></a>
              {% endif %}
              {% endif  %}
            </div>
        </div>   
    </div>
  
  </div>
{% endblock %}