{% extends 'base.html' %}
{% block body_content %}
    <h1>API Routes</h1>
    <a href="/api">/api</a>
    <br>
    <a href="/api/pages">/api/pages</a>
    <br>
    <a href="/api/pages/savedposts/">/apipages/savedposts</a>
    <br>
    <a href="/api/pages/posts">/api/pages/posts</a>
    <br>
    <a href="/api/users">/api/users</a>
    <br>
    <a href="/api/users/follow">/api/users/follow</a>
    <br>
    <a href="/api/users/posts">/api/users/posts</a>
    <br>
    <a href="/api/users/savedposts">/api/users/savedposts</a>
    <br>
    <a href="/api/users/userprofiles/">/api/users/userprofiles/</a>
    <br>

{% endblock %}